<style>
    .parallax-card {
        position: relative;
        background-size: cover;
        background-position: center;
        height: 400px;
        background-attachment: fixed;
        overflow: hidden;
    }

    .parallax-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
</style>

<div class="container-fluid py-5">
    <div class="row">
        <div class="col-12">
            <div class="parallax-card bg-image" style="background-image: url('{% if block.image %}{{ block.image.url }}{% endif %}');">
                <div class="parallax-content">
                    <h1 class="display-4 text-white">{{ block.title }}</h1>
                    <p class="lead text-white">{{ block.content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
</div>